*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
.scrol {
    position: fixed;
    right: 25px;
    padding: 14px 17px;
    border-radius: 6px;
    bottom: 30px;
    z-index: 99;
    background-color: black;
    color: white;
    float: right;
    margin: auto;
} 
html{
  scroll-behavior: smooth;
}
nav{
    background: white;
    color: white;
    box-shadow: 0px 12px 25px rgba(221,221,211,0.3);
    height: 70px;
    width: 100%;
}

nav a{
    color: black;
}
a.logo{
    font-size: 25px;
    line-height: 63px;
    padding: 0 22px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
    list-style: none;
}
nav ul li{
    display: inline-block;
    padding: 21px;
    font-size: 19px;
}
.a::after{
    display:block;
    height:3px;
    width:0;
    transition: width .5s;
    content:'';
    background: #000;
  }
.a:hover::after{
    width: 100%;
    transition: width .5s;
}

/* Section 1*/

.section1{
    width: 100%;
    padding: 40px;
    background-color: #F5F5F5;
}
.Text-showcase{
    text-align: center;
    line-height: 45px;
    font-size: 20px;
}
.slider {
    overflow: hidden;
    width: 65%;
    margin: auto;
}
.navigation {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
} 
.bar {
    margin: 6px;
    height: 20px;
    width: 20px;
    opacity: 0.7;
    border: 4px solid black;
    border-radius: 10px;
    transition: all 0.4s ease;
    cursor: pointer;
    background-color: transparent;
}
.bar:hover {
    opacity: 1;
    transform: scale(1.1);
}  
input[name="r"] {
    position: absolute;
    visibility: hidden;
} 
.slides {
    width: 300%;
    height: 100%;
    display: flex;
}
.slide {
    width: 33.33%;
    transition: all .6s ease;
}
.slide img {
    width: 100%;
    height: 100%;
} 
#r1:checked ~ .s1 {
    margin-left: 0;
} 
#r2:checked ~ .s1 {
    margin-left: -33.33%;
}  
#r3:checked ~ .s1 {
    margin-left: -66.66%;
}

button{
    border: none;
}
.btn1{
    background: #6F2CFF;
    border-radius: 30px;
    padding: 13px 40px;
    margin-right: 30px;
    color: white;
    text-align: center;
    cursor: pointer;
}
.btn1:hover{
    background: #fff;
    box-shadow: 0px 0px 15px gray;
    color: black;
    transition: .3s;
}
.btn2{
    background: #fff;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.895);
    padding: 12px 40px;
    color: black;
    cursor: pointer;
    text-align: center;
}
.btn2:hover{
    background: #6F2CFF;
    transition: .3s;
    box-shadow: 0px 0px 15px gray;
    color: white;
    transition: .10s;
}


/* Section 2 */
.section2{
    width: 100%;
    line-height: 155px;
    padding-bottom: 110px;
}
.text-section2{
 text-align: center;   
 font-size: 25px;
 font-weight: 700;
}
.boxc{
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin: auto;
}
.box{
    width: 28%;
    height: auto;
    text-align: center;
    background: #F5F5F5;
    box-shadow: 0px 2px 2px rgba(192, 192, 192, 0.5);
    border-radius: 0px 0px 7px 7px;
    line-height: 40px;
}
.box img{
    width: 100%;
}
.box .text-color{
    width: 195px;
    margin: auto;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #6F2CFF;
    padding: 30px 0;
}


/* Section 3 */

.section3{
    width: 100%;
    background-color: #F5F5F5;
    padding: 50px 0px;
}
.text-section3{
    text-align: center;   
}
.text-section3 h2{
    font-size: 35px;
}
.box-flex2{
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin: auto;
}
.box3{
    background: #17002E;
    border-radius: 8px 10px 10px 8px;
    color: white;
    width: 44%;
    padding: 40px 30px;
}
.flex-rasm-txt{
    display: flex;
    align-items: center;
}
.flex-rasm-txt img{
    width: 45px;
    margin-right: 15px;
}
.line{
    border-bottom: 2px solid white;
    width: 350px;
}